/Client/Assets/Resources/Irem/AnimatorController/**/*.meta
/Client/Assets/Resources/Hyunwoo/AnimatorController/**/*.meta
/Client/Assets/Resources/Rozzi/AnimatorController/**/*.meta
/Client/Assets/Resources/Theodore/AnimatorController/**/*.meta
/Client/Assets/Resources/Yuki/AnimatorController/**/*.meta